{{define "layout"}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{template "title" .}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/css/inons/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen">	
    {{template "head" .}}
</head>
<body>
	{{template "header" .}}
  {{template "body" .}}

	<script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>	
  <script src="/js/main.js"></script>
  {{template "scripts"}}
</body>
</html>
{{end}}